<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RiotTanks_1._1.Properties.Settings.Valor" connectionString="Data Source=.;Initial Catalog=db_jugadores;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RiotTanks_1._1.Properties.Settings.Valor1" connectionString="Data Source=B6-603-2527\SQLEXPRESS01;Initial Catalog=db_jugadores;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>